$base-font-size: 16px;
$content-size: 1150px;

// COLORS

$blue-dark: #011e26;
$grey: #777e90;
$grey-dark: #898c95;
$white-grey: #e6e8ec;
$white-grey-light: #fcfcfd;
$green: #00da83;
$green-dark: #03bc70;
$green-darker: #009a5b;
$red: #f44336;
$red-dark: #9d342d;
