.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 30px;
    border-bottom: 1px solid #e6e8ec;
    min-height: 81px;

    @media screen and (max-width: 575px) {
        padding: 16px;
        min-height: 64px;
    }

    &__side {
        display: flex;
        align-items: center;
        gap: 32px;

        &--right {
            @media screen and (max-width: 1400px) {
                display: none;
            }
        }
    }

    &__nav {
        position: relative;
        padding-left: 32px;

        @media screen and (max-width: 940px) {
            display: none;
        }

        &::before {
            position: absolute;
            content: '';
            width: 2px;
            height: 40px;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #e6e8ec;
        }
    }
}
